<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script>
        function REGISTRAR() {
            return alert("REGISTRADO");
        }

        function CANCELAR() {
            window.close();
        }
    </script>
</head>

<body>
    <h1>Cargar Paciente</h1>
    <form action="">
        <p>cualquier cosa: <input type="text"></p>
        <p>Fecha: <input type="DATE"></p>
        <input type="button" value="REGISTRAR" onclick="REGISTRAR()">
        <input type="button" value="CANCELAR" onclick="CANCELAR()">

    </form>

</body>

</html>